<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador pdf</title>
</head>

<body>

    <h1 style='color: blue'>Gerador de pdf </h1>
    <hr>
    <p> Meu pdf de teste </p>
    <p>Nome: <%= nome %>
    </p>
    <p>Curso: <%= curso %>
    </p>
    <p>Categoria: <%= categoria %>
    </p>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROZxMSUybY-JJ4O3lhmL3ma5zv_-5qhYxddEoGaLpMfQ&s' />


</body>

</html>